/* STRUCTURE STYLES */

body * {
	margin: 0em;
	padding: 0em;
	line-height: 1.5;
}

#background {
	width: 100%;
	height: auto;
	position: absolute;
	z-index: 1;
}

#page-container {
	max-width: 60em;
	margin: 1em auto;
	background-color: rgba(255, 255, 255, .8);
	position: relative;
	z-index: 2;
}

#header-container {


	#header {
		margin-bottom: 1em;
		outline: 1px solid black;
	}
}

#content-container {


	#main-container {
		outline: 1px solid black;

		#main {
			max-width: 33em;
			margin: 0em auto;
			padding: .5em;
		}
	}

	#sidebar-container {
		outline: 1px solid black;

		#sidebar {
			padding: .5em;
			
		}
	}
}

#footer-container {


	#footer {

	}
}


#main article {

}

#main .blogfeed ul,
#main .blogfeed ol {
	list-style: none;
}
