<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div id="page-container">
      <div id="header-container">
        <header id="header">
          {% include header.html %}
        </header>
      </div><!--end header-container div-->

      <div id="content-container" >
        <div id="content" class="pure-g">

          <div id="main-container" class="pure-u-sm-1-2">
            <section id="main" role="main">
              {{ content }}
            </section>
          </div><!--end main-container div-->

          <div id="sidebar-container" class="pure-u-sm-1-2">
            <aside id="sidebar">
              {% include sidebar.html %}
            </aside>
          </div><!--end sidebar-container div-->   
 
        </div><!--end content div-->
      </div><!--end content-container div-->

      <div id="footer-container">
        <footer id="footer">
          {% include footer.html %}
        </footer>
      </div><!--end footer-container div--> 
    </div><!--end page-container div-->  
  </body>

</html>
